<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список постачальників</title>
</head>
<body>
<header th:insert="commonBlocks/header :: header"></header>


<div class="container">
    <h1>Список постачальників:</h1>

    <table class="table">
        <thread>
            <th scope="col">№</th>
            <th scope="col">Назва</th>
            <th scope="col">Управління</th>
        </thread>
        <tbody th:each="element : ${suppliers}">
        <th scope="row"><p th:text="${element.id}"></p></th>
        <td><p th:text="${element.name}"></p></td>
        <td><a class="btn btn-primary" th:href="'/management/supplier/' + ${element.id} + '/edit'"
               align="center">Редагувати</a>
        </td>
        </tbody>

    </table>
    <a class="btn btn-primary col-12" href="/management/supplier/add">Додати нового постачальника</a>
</div>


<footer class="fixed-bottom" th:insert="commonBlocks/footer :: footer"></footer>
</body>
</html>