/*.pictureSize {*/
/*    height: 465px;*/
/*    width: 620px;*/
/*}*/

@media screen and (min-width: 768px) {
    img {
        width: 338px;
        height: 253.5px;
    }
}

@media screen and (min-width: 992px) {
    img {
        width: 458px;
        height: 343.5px;
    }
}

@media screen and (min-width: 1200px) {
    img {
        width: 359.33px;
        height: 269.48px;
    }
}

@media screen and (min-width: 1400px) {
    img {
        width: 419.33px;
        height: 314.48px;
    }
}


