<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Форма редагування авто</title>
</head>
<body>
<header th:insert="commonBlocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1 class="fontForHeader">Форма редагування авто:</h1>
    <hr class="divider">
    <div th:each="element : ${car}">
        <form method="post" enctype="multipart/form-data">
            <h5>Назва:</h5>
            <input type="text" th:value="${element.name}" name="name" placeholder="Назва" class="form-control"><br>
            <h5>Id Постачальника:</h5>
            <input type="number" th:value="${element.supplier.getId()}" name="supplier" placeholder="Назва" class="form-control"><br>
            <h5>Колір машини:</h5>
            <input type="text" th:value="${element.color}" name="color" placeholder="Колір машини" class="form-control"><br>
            <h5>Пробіг:</h5>
            <input type="text" th:value="${element.mileage}" name="mileage" placeholder="Пробіг" class="form-control"><br>
            <h5>Паливо:</h5>
            <input type="text" th:value="${element.fuel}" name="fuel" placeholder="Паливо" class="form-control"><br>
            <h5>Об'єм двигуна:</h5>
            <input type="text" th:value="${element.engine}" name="engine" placeholder="Об'єм двигуна" class="form-control"><br>
            <h5>Ціна:</h5>
            <input type="text" th:value="${element.price}" name="price" placeholder="Ціна" class="form-control"><br>
            <h5>Комплектація:</h5>
            <input type="text" th:value="${element.equipment}" name="equipment" placeholder="Комплектація" class="form-control"><br>
            <h5>Дата:</h5>
            <input type="date" th:value="${element.dateOfManufacture}" name="dateOfManufacture" placeholder="Дата" class="form-control"><br>
            <h5>Фото:</h5>
            <input type="file" th:value="${element.picture}" name="picture" placeholder="Фото" class="form-control"><br>
            <h5>Опис:</h5>
            <textarea type="text" th:text="${element.description}" name="description" placeholder="Опис" class="form-control" /><br>
            <button type="submit" class="btn btn-success">Редагувати</button>
        </form>
    </div>
</div>

<footer th:insert="commonBlocks/footer :: footer"></footer>
</body>
</html>